extends layout

block content

		div(class="hero-unit")
			h1 Equality
			p It takes two to tango
			p
				form(METHOD="LINK", ACTION="/fbauth")
					input(type="submit", value="Login with facebook", class='btn btn-large')
