extends layout

block content

	script(type="text/html", id="listTemplate")
		tr
			td
				a(data-bind="attr: { href: '/list/' + _id, title: title }")
					span(data-bind="text: title") 
			td
				button(class="btn btn-xs", type="button", data-bind='click:$parent.share')
					span(class="glyphicon glyphicon-share")
			td
				button(class='btn btn-xs',type='button', data-bind='click: $parent.removeList')
					span(class="glyphicon glyphicon-remove")

	div(class='container')
		h2 Make something that counts..
		div(class='col-md-12')
			div(class="row")
				div(class='col-md-8 well')
					h1 Lists
					h4 These are the lists that matters, or not

					table(class='table table-striped')
						thead
							tr
								th title
								th share
								th remove
						tbody(data-bind="template: { name: 'listTemplate', foreach: lists}")

				div(class='col-md-4', data-bind="if:!listToShare()")
					div(class="well")
						h3 Add list
						form(class='form')
							div(class="form-group")
								input(ID='title', data-bind='value: title',placeholder="New list", class='form-control')
							div(class="form-group")
								button(data-bind='click: function(){addListWasClicked()}', class='btn') Add

				div(class='col-md-4', data-bind="if:listToShare")
					div(class="well")
						h3(data-bind="text: 'Share ' + listToShare().title")
						form(class='form')
							div(class="form-group")
								label Send this invite to
								input(ID='share', data-bind='value: mailTo',placeholder="bitch@gmail.com", class='form-control')
							div(class="form-group")
								button(data-bind='click: sendInvite', class='btn') Send
								&#32
								button(data-bind='click: function(){self.listToShare(undefined);}', class='btn') Cancel

				div(class='col-md-6', data-bind="if:edit")
					div(class="well")
						form(class='form')
							div(class="form-group")
								input(ID='join', data-bind='value: listToJoin',placeholder="Join list id", class='form-control')
							div(class="form-group")
								button(data-bind='click: joinList', class='btn') Join


	script(src='knockout/knockout-2.2.1.debug.js', type='text/javascript')
	script(src='js/lists.js', type='text/javascript')
